:root {
    /* -- COLORS --*/
    --b-clr: 0, 0, 0;
    --gr-clr: 153, 153, 153;
    --g-clr: 74, 205, 165;
    --r-clr: 244, 91, 105;
    --w-clr: 249, 247, 246;
    --border-clr: 238, 238, 238;
    /* -- FONTS --*/
    --ff: 'Inter', sans-serif;

    --t-grid-count: 19.6875rem;
    --h-h: 3.4375rem;
    --arr-w: 2.5rem;
    --arr-h: 2.5rem;
    --c-w: 1.5625rem;
    --c-h: 1.5625rem;

    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    --m-h: 0.9375rem;
}



